# GitHub language detection overrides
*.d  linguist-language=D
*.di linguist-language=D
# Visual Studio .NET
.config   linguist-language=XML
.settings linguist-language=XML
# https://en.wikipedia.org/wiki/Maxima_(software)
*.mac linguist-language=Maxima
# https://en.wikipedia.org/wiki/Maple_(software)
*.mw  linguist-language=XML

# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
